'lib/**/*.pm'
--format pod

--no-stats
--no-save

--default-return ''
--hide-void-return

--query "object.type != :module"
--query "object.type == :method ? object.scope == :class : true"
--query "@api.nil? || @api == 'public'"